


    <p>SOY POST</p>
    <div id="petPostDiv">
            <input type="text" ng-model='elemNew' placeholder="actualizar elem">
            <input type="button" value="SendPost" ng-click='postElem(elemNew)' />
            <p>{{elementoNuevo}}</p>
    </div>
        
