
    <p>SOY DELETE</p>
    <div id="petDeleteDiv">
            <input type="number" ng-model='elemDel' placeholder="actualizar elem">
            <input type="button" value="SendDel" ng-click='delElem(elemDel)' />
            <p>{{elementoDel}}</p>
       MAIN{
<<<<<<< HEAD

            COMMIT 2 MASTER 

            
            rama1{
                commit2
            }

=======
        
            rama2{
                commit2
            }
>>>>>>> rama2
        
        }
    </div>
