
    <p>SOY PUT</p>
    <div id="petPutDiv">
            <input type="text" ng-model='elemAct' placeholder="actualizar elem">
            <input type="button" value="SendPUT" ng-click='putElem(elemAct)' />
            <p>{{elementoActualizado}}</p>
    </div>
